<%= render partial: "shared/header" %>

<h1> Bulk Discount Edit Page </h1>


<%= form_with url: merchant_bulk_discount_path(@merchant.id, @discount.id), method: :patch, local: true do |form| %>
  <div id='new-threshold'>
    <%= form.label :threshold, "Bulk Discount Item Threshold" %><br/>
    <%= form.select :threshold, options_for_select((1..100), selected: @discount.threshold) %>
  </div>

  <div id='new-percentage'>
    <%= form.label :percentage, "Bulk Discount Percentage" %><br/>
    <%= form.select :percentage, options_for_select([1,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95]), selected: @discount.threshold %>
  </div>

  <%= form.submit 'Update Bulk Discount' %>
<% end %>
